<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>

  <!-- 네비바 넣을 곳 -->
  <div class="text-container" id="navbar"></div>

  <body>

    <div class="container">
      <form class="login-form" id="login-form">
        <label for="email">Email address</label>
        <input
          type="email"
          id="login-email"
          name="email"
          placeholder="Enter email"
        />

        <!-- 이메일 유효성 검사 문구 -->
        <p id="email-check-msg"></p>

        <label for="password">Password</label>
        <input
          type="password"
          id="login-password"
          name="password"
          placeholder="Password"
        />
        <button type="submit" class="btn btn-primary" id="login-btn">
          로그인
        </button>
        <button
          type="button"
          class="register-button btn btn-primary"
          id="join-btn"
        >
          회원가입하기
        </button>
      </form>
    </div>
    <script src="./login.js"></script>
  </body>
</html>
